<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
    <script th:src="@{/js/revise.js}"></script>
    <script th:src="@{/js/user.js}"></script>
</head>
<body>
<div class="div1">
    <table width="100%" height="100%" align="center" bgcolor="#6495ed">
        <tr>
            <td><a th:href="@{/product}">商品操作</a></td>
            <td><a th:href="@{/users}">用户列表</a> </td>
            <td><a th:href="@{/logout}" onclick="return logout2();">退出登录</a> </td>
        </tr>
    </table>
</div>
<div class="container">
  <h2>添加商品</h2>
    <div class="red" align="center" th:text="${msg}"></div>
  <form method="post" th:action="@{/add}" onsubmit="return isInt();">
      <label for="pId">商品账号：</label>
    <input type="text" id="pId" name="pId" required><br><br>
    <label for="pName">商品名称：</label>
    <input type="text" id="pName" name="pName" required><br><br>
    <label for="pPrice">商品价格：</label>
    <input type="text" id="pPrice" name="pPrice" required><br><br>
    <label for="pCategory">商品类型：</label>
    <input type="text" id="pCategory" name="pCategory" required><br><br>
    <label for="pStock">商品库存：</label>
    <input type="text" id="pStock" name="pStock" required><br><br>
    <input type="reset" name="重置"/><br><br>
    <input type="submit" name="添加"/>
  </form>
</div>
</body>
</html>