<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
    <script th:src="@{/js/user.js}"></script>
</head>
<body>
<div class="div1">
    <table width="100%" height="100%" align="center" bgcolor="#6495ed">
        <tr>
            <td><a th:href="@{/product}">商品操作</a></td>
            <td><a th:href="@{/register}">添加用户</a></td>
            <td><a th:href="@{/logout}" onclick="return logout2();">退出登录</a> </td>
        </tr>
    </table>
</div>
<form method="post" th:action="@{/selectUser}">
    <table width="100%" align="left">
        <tr>
            <td>用户账号：<input style="width: 200px; height: 8px" type="text" id="username" name="username"></td>
            <td>用户密码：<input style="width: 200px; height: 8px" type="text" id="password" name="password"></td>
            <td>用户角色：<input style="width: 200px; height: 8px" type="text" id="roleId" name="roleId"></td>
            <td><input style="width: 50px; " type="reset" name="重置"/></td>
            <td><input style="width: 50px; " type="submit" name="查询"/></td>
        </tr>
    </table>
</form>
<table width="100%" border="1" align="center">
    <tr>
        <th>用户账号</th>
        <th>用户密码</th>
        <th>用户角色</th>
        <th>用户操作</th>
    </tr>
    <tr align="center" th:each="user : ${Users}">
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getPassword()}"></td>
        <td th:text="${user.getRoleId()}"></td>
        <td><a th:href="@{/reviseUser(id=${user.getId()})}">修改</a> |
            <a th:href="@{/deleteUser(id=${user.getId()})}" onclick="return logout();">删除</a></td>
    </tr>
</table>
</body>
</html>